@using System.Security.Principal;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        WindowsIdentity? user = User.Identity as WindowsIdentity;

        if (user?.Groups != null)
        {
            foreach (var group in user.Groups)
            {
                @group.Translate(typeof(NTAccount)).Value <br />
            }
        }
    }
</div>
